/* general */

body, input, select, textarea{
    font-family: 'Lato';
    font-weight: 400;
}

button{
    font-family: 'Lato';
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display'
}

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

/* nav bar */

.bar {
    z-index:10000;
    position: fixed;
    padding: 0px;
    width: 100%;
    height: 70px;
    background-color: transparent;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    transition: background-color ease-in-out 0.5s, box-shadow ease-in-out 0.5s;
}

.bar.active{
    background-color: white;
    box-shadow: 0px 2px 3px #00000042;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: saturate(180%) blur(20px);
}

.main-logo{
    height: 60%;
    -webkit-box-flex: none;   /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: none;       /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: none;           /* IE 10 */
    flex:none;
    margin-left: 20px;
}

.logo-nav-img{
    height: 100%;
}

.categories {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-flex: none;   /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: none;       /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: none;           /* IE 10 */
    flex:none;
    text-align: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    transition: width 0.5s ease-in;
}

.categories.active{
    width: 250px;
}

.categories-item{
    -webkit-box-flex: 0 1 auto;   /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 0 1 auto;       /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 0 1 auto;           /* IE 10 */
    flex:0 1 auto;
    width: 180px;
    height: 100%;
    line-height: 70px;
    font-size: 14px;
    font-weight: 200;
}

.navbar-link{
    color: #00477A;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
}

.navbar-link:visited {
    color: #00477A;
}


.navbar-link::after {
    content: '';
    width: 0px;
    height: 1px;
    margin-top: -27px;
    display: block;
    background: #00477A;
    transition: 350ms;
}

.navbar-link:hover::after {
    width: 100%;
}