/* general */

body {
    padding: 0;
    margin: 0;
    overflow-y: hidden !important;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

body,
input,
select,
textarea {
    font-family: 'Lato';
    font-weight: 400;
}

button {
    font-family: 'Lato';
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display'
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* nav bar */

.bar {
    z-index: 10000;
    position: fixed;
    padding: 0px;
    margin-top: 30px;
    width: 100%;
    height: 90px;
    background-color: transparent;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
    height: 100%;
    -webkit-box-flex: none;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: none;
    /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: none;
    /* IE 10 */
    flex: none;
    margin-left: 10vw;
}

.logo-nav-img {
    height: 100%;
}

.categories {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-flex: none;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: none;
    /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: none;
    /* IE 10 */
    flex: none;
    text-align: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    transition: width 0.5s ease-in;
    margin-right: 15vw;
}

.categories.active {
    width: 250px;
}

.categories-item {
    -webkit-box-flex: 0 1 auto;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 0 1 auto;
    /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 0 1 auto;
    /* IE 10 */
    flex: 0 1 auto;
    width: 180px;
    font-size: 14px;
    font-weight: 200;
}

.navbar-link {
    color: #767676;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.75px;
    display: inline-block;
}

.navbar-link:visited {
    color: #5C5C5C;
}


.navbar-link::after {
    content: '';
    width: 0px;
    height: 1.5px;
    margin-top: 1.5px;
    display: block;
    background: #5C5C5C;
    transition: 350ms;
}

.navbar-link:hover::after {
    width: 100%;
}

/* home page */

.page-container {
    display: flex;
    width: fit-content;
    height: 150vh;
    padding-top: 10vh;
}

.main-flex {
    display: flex;
    box-sizing: border-box;
    padding-top: 120px;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

.main-image-col {
    flex: none;
    width: 50%;
    padding-left: 10vw;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
}

.main-image-col img {
    width: 60%
}

.main-content-col {
    flex: none;
    width: 50%;
    padding-right: 15vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 100px;
}

.main-header {
    font-size: 48px;
    font-weight: 500;
}

.main-continue-button {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 400;
    background-color: #88C057;
    color: white;
    border: none;
    border-radius: 7.5px;
}

.fas {
    margin-left: 4px;
    transform: translateX(0px);
    transition: transform 0.3s ease-in-out;
}

.main-continue-button:hover>.fas {
    transform: translateX(5px);
    transition: transform 0.3s ease-in-out;
}

.fixed-arrow-right {
    position: fixed;
    right: 45px;
    top: 50%;
    width: 50px;
    height: 50px;
}

/* articles */

.articles-container {
    position: relative;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: stretch;
}

.articles-outer {
    position: relative;
    z-index: 10;
    flex: none;
    width: 50vw;
    height: 100vh;
    padding-top: 100px;
    padding-left: 5vw;
    padding-right: 5vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 0px #88C057 outset;
    transition: border 0.3s;
    cursor: pointer
}

.articles-outer:hover{
    transition: border 0.3s;
    border: 10px #88C057 outset;
}

.articles-outer:hover > .articles-info > .articles-title{
    transition: color 0.3s;
    color: #88C057;
}

.dark {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
    color: black;
}

.articles-image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    transition: all 0.3s;
}

.articles-info{
    margin-top: 10px;
}

.articles-title {
    font-size: 22px;
    margin-bottom: 20px;
    transition: color 0.3s;
}

.articles-description {
    font-size: 15px;
    font-weight: 300;
}

.articles-rating{
    position: relative;
    z-index: 20;
    display: flex;
    margin-top: 10px;
}

.thumbs{
    width: 25px;
    height: auto;
    margin-right: 10px;
    transition: transform 0.2s;
}

.dark .thumbs:hover > path{
    fill: #88C057;
}

.white .thumbs:hover > path{
    fill: #88C057;
}

.dark .thumbs path{
    fill: white;
}

.white .thumbs path{
    fill: black;
}

.dark .thumbs.selected path{
    fill: #88C057;
}

.white .thumbs.selected path{
    fill: #88C057;
}
